.center-wrapper {
    margin: 0 auto;
    width: 1330px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "DIN 2014 Regular", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 18px;
    color: #444444;
}